---
import HeroSection from '../layouts/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bejeweled" icon="/logos/logo-joyeria.png" />
	<HeroSection></HeroSection>
	<main>
	</main>
</Layout>

<style>
	
</style>
