---
import HeroSection from '../layouts/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Categorysection from '../layouts/CategorySection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Bejeweled" icon="/logos/logo-joyeria.png" />
	<main>
		<HeroSection></HeroSection>
		<Categorysection></Categorysection>
	</main>
	<Footer></Footer>
</Layout>

<style>
	
</style>
