<footer class="bg-[#385371] text-white p-5 text-center border-t-2 border-solid border-[#ebebeb]">
    <div class="flex justify-between items-start flex-wrap mb-4">
        <div class="basis-0 w-2/4 flex-grow p-3 text-center border-t-2 border-solid border-[#fff]">
            <img class="pl-4 h-12" src="/logos/bejeweled-logo.png" alt="Bejeweled">
        </div>
        <div class="basis-0 w-2/4 p-3 text-center border-t-2 border-solid border-[#fff] ">
            <h2 class="text-2xl">Productos</h2>
            <ul class="list-none p-0 [&>li]:mb-1 [&>li>a]:no-underline [&>li>a]:text-white [&>li>a]:whitespace-nowrap">
                <li><a class="hover:text-[#7191b6]" href="#">Nueva Coleccion</a></li>
                <li><a class="hover:text-[#7191b6]" href="#">Aros</a></li>
                <li><a class="hover:text-[#7191b6]" href="#">Pulseras</a></li>
                <li><a class="hover:text-[#7191b6]" href="#">Collares</a></li>
                <li><a class="hover:text-[#7191b6]" href="#">Anillos</a></li>
            </ul>
        </div>
        <div class="basis-0  flex-grow  p-3  border-t-2 border-solid border-[#fff]">
            <div class="text-end">
                <h2 class="text-2xl">Contacto</h2>
                <p>Dirección: Bernardino Rivadavia 1050</p>
                <p>Teléfono: (123) 456-7890</p>
                <p>Email: info@bejeweled.com</p>
                <div class="mt-3 [&>a]:text-white [&>a]:no-underline [&>a]:mr-3 [&>a]:text-2xl">
                    <a href="/404"><i class="fab fa-facebook"></i></a>
                    <a href="/404"><i class="fab fa-x-twitter"></i></a>
                    <a href="/404"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full text-center py-3 bg-[#ebebeb] [&>p]:my-1 [&>p]:text-black [&>a]:text-black [&>a]:no-underline">
        <p>&copy; 2023 Bejeweled - Todos los derechos reservados | <a href="#">Términos y condiciones</a></p>
    </div>
</footer>