---
interface Props{
    logo:string;
}

const {logo} = Astro.props;
---

<header class="flex justify-between items-center fixed py-4 px-10 top-0 w-full z-40">
    <div class="flex flex-grow basis-0">
        <a href="#"><img class="h-8 w-28" src={logo} alt=""></a>
    </div>
    <nav>
        <ul class="flex text-sm [&>li>a]:font-medium items-center [&>li>a]:text-white [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
            <li><a href="#">Anillos</a></li>
            <li><a href="#">Pulseras</a></li>
            <li><a href="#">Collares</a></li>
            <li><a href="#">Aros</a></li>
            <li><a href="#">Nueva Colección</a></li>
        </ul>
    </nav>
    <nav class="flex flex-grow basis-0 justify-end">
        <ul class="flex text-sm font-medium items-center text-white">
            <li>
                <a href="#" class="flex items-center justify-center px-4 py-2">
                    <svg class="h-5 w-auto" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                        <path d="M21 21l-6 -6" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center justify-center px-4 py-2">
                    <svg class="h-5 w-auto" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M17 17h-11v-14h-2" />
                        <path d="M6 5l14 1l-1 7h-13" />
                    </svg>
                </a>
            </li>
            <li><a href="#" class="inline-block px-4 py-2">Ingresar</a></li>
        </ul>
    </nav>
</header>

<style>

</style>