
<section class="bg-[#ebebeb] flex flex-col h-screen w-full p-12 ">
    <div class="flex justify-between items-center">
        <h2 class="font-semibold text-xl">Comprar por categoria</h2>
        <a href="#" class="no-underline text-[#385371] text-base flex gap-1 items-center"><strong>Ver todas las categorias</strong> <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#385371}</style><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg></a>
    </div>
    <div class="flex h-[80vh] w-full gap-5 my-4 text-white">
        <div id="nuevos-ingresos" class="categorias-hover flex flex-col justify-end items-start basis-2/4 rounded-2xl">
            <div class="flex flex-col text-[ #ebebeb] text-base m-5">
                <span><strong>Nuevos Ingresos</strong></span>
                <span>Compra ahora</span>
            </div>
        </div>
        <div class="basis-2/4 gap-5 flex flex-col">
            <div id="categoria-pulseras" class="categorias-hover flex flex-col justify-end items-end basis-2/4 m-3 rounded-2xl">
                <div class="flex flex-col text-[ #ebebeb] text-base m-5">
                    <span><strong>Pulseras</strong></span>
                    <span>Compra ahora</span>
                </div>
            </div>
            <div id="categoria-anillos" class="categorias-hover flex flex-col justify-end items-end basis-2/4 m-3 rounded-2xl">
                <div class="flex flex-col text-[ #ebebeb] text-base m-5">
                    <span><strong>Anillos</strong></span>
                    <span>Compra ahora</span>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    #nuevos-ingresos{
        background-image: url(/taylor-swift/taylor-swift-sky3.jpg);
        background-size: cover;
        background-position: center;
    }

    #categoria-pulseras{
        background-image: url(/joyas/brazalete-mano.jpg);
        background-size: cover;
        background-position: center;
    }

    #categoria-anillos{
        background-image: url(/joyas/mujer-anillo.jpg);
        background-size: cover;
        background-position: center;
    }

    .categorias-hover:hover{
    filter: brightness(120%);
    cursor: pointer;
    }

</style>